{% extends 'index.html' %}

{% block content %}

<div class="card" style="width: 25rem;">
    <div class="card-header">

        <h5>Editing {{product.productname}} supplied by {{product.supplier.companyname}}</h5>

        <div class="card-body">
            <form method="post" action="/edit-product-post/{{product.id}}/">

                {%csrf_token %}
                <div class="form-group">
                    <label>price</label>
                    <input type="number" name="unitprice" value={{product.unitprice}}>
                </div>
                <div class="form-group">
                    <label>stock</label>
                    <input type="number" name="unitsinstock" value={{product.unitsinstock}}>
                </div>
                <input type="submit" value="Update" class="btn btn-success btn-sm">
                <input type="button" onclick="window.location.href='/products'" id="hide-btn"
                    class="btn btn-secondary btn-sm" value="Cancel">
            </form>
        </div>
    </div>
</div>


{% endblock %}