{% extends 'index.html' %}

{% block content %}

<br />
<div id="add-div"></div>
<br />

<h1 style="color: darkviolet">Suppliers</h1>

<button id="add-btn" class="btn btn-success btn-sm" onclick="showaddform()">Add new supplier</button>

<form method="post" action="/search-suppliers/">
    {%csrf_token %}
    <input class="card-text" class="card-text" type="text" placeholder="search" name="search">

    <input type="submit" value="Search" class="btn btn-success btn-sm" name="">
</form>

{% for s in suppliers %}
<div class="card" style="max-width: 50rem;">
    <div class="card-body">
        <h4 class="card-title">{{s.companyname}}</h4>
        <p class="card-text">Contact person: {{s.contactname}} | phone: {{s.phone}} | email: {{s.email}} </p>
        <p class="card-text">Address: {{s.address}} | Country: {{s.country}}</p>

        <a href="/edit-supplier-get/{{s.id}}/" class="btn btn-primary">Edit</a>
        <a href="/confirm-delete-supplier/{{s.id}}/" class="btn btn-danger">Delete</a>
        <a href="/products-by-supplier/{{s.id}}/" class="btn btn-secondary">{{s.companyname}} Products</a>
    </div>
</div>


{%endfor%}

<script>
 let x = `
    <h2 style="color: lightblue">Please fill in form</h2>
    
    <div class="card" style="width: 20rem;">
        <div class="card-body">
            <form method="post" action="/add-supplier/">
    
                {% csrf_token %}
                <input class="card-text" class="card-text" type="text" placeholder="company´s name" name="companyname">
                <input class="card-text" type="text" placeholder="contact person" name="contactname">
                <input class="card-text" type="text" placeholder="address" name="address">
                <input class="card-text" type="text" placeholder="phone" name="phone">
                <input class="card-text" type="text" placeholder="email" name="email">
                <input class="card-text" type="text" placeholder="country" name="country">
                <br/>
                <input type="submit" value="Confirm" class="btn btn-success btn-sm" name="">
                <input type="submit" id="hide-btn" class="btn btn-secondary btn-sm" onclick="hideaddform()" value="Cancel" name="">
            </form>
        </div>
    </div>`

    function showaddform() {
        document.getElementById("add-div").innerHTML = x
    }

    function hideaddform() {
        document.getElementById("add-div").innerHTML = ""
    }



</script>


{% endblock %}